/audacious/*
/galculator/*
/autostart/*
/GIMP/*
/Code/*
/libreoffice/*
/mpv/*
/pulse/*
/Thunar/*
/transmission/*
/htop/*
/gtk-2.0/*
/gtk-3.0/*
/dconf/
/fontconfig/*
/font-manager/*
/xfce4/*
/xarchiver/*
/gpicview/*
/chromium/*
/ncspot/*

yad.conf
sshd_config
systemsettingsrc
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
kactivitymanagerdrc
kglobalshortcutsrc

