BraveSoftware/*
Code/*
Electron/*
StarUML/*
autostart/*
bruno/*
chromium/*
dconf/*
discord/*
enchant/*
eog/*
evolution
github-copilot/*
gnome-session/*
goa-1.0/*
gtk-3.0/*
gtk-4.0/*
ibus/*
libreoffice/*
matplotlib/*
nautilus/*
nvim/pack/*
onlyoffice/*
opencode/*
procps/*
pulse/*
simple-scan/*
GNOME-xdg-terminals.list
background
gnome-initial-setup-done
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
.gsd-keyboard.settings-ported
